@font-face {
    font-family: fixedsys;
    src: url(/font/fixedsys.ttf);
}

.btn {
    border-radius: 0px;
	border-width: 2px;
	transition: background-color .2s;
}

.btn:hover {
	transition: background-color .2s;
}

body {
	background-color: #000099;
	
	background-image: url("/img/corner.png");
    background-repeat: no-repeat;
    background-position: right bottom;
	background-attachment: fixed;
}

.jumbotron {
	background: #0000ff;
}

div {
	color: #ffffff;
	font-family: fixedsys, monospace;
}

.btn-primary {
	background-color: #0000ff;
	border-color: #000077;
}

.btn-primary:hover {
	background-color: #4444ff;
	border-color: #000077;
}

small {
	padding-left: 24px;
	color: #dddddd;
}

.nav-pills > li > a, .nav-pills > li > a:focus {
	color: #ffffff;
	background-color: #000099;
	
	border-radius: 0px;
	border-width: 2px;
	transition: background-color .2s;
	border-color: #000077;
	
	padding-bottom: 6px;
	padding-top: 6px;
}

.nav-pills > li > a:hover {
	color: #ffffff;
	background-color: #4444ff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
	color: #ffffff;
	background-color: #0000ff;
}

.nav-pills > li.active > a:hover {
	color: #ffffff;
	background-color: #4444ff;
}

.page-header {
	padding-bottom: 12px;
}

.panel, .panel-group .panel {
    border-radius: 0px;
	border-width: 2px;
}

.panel-primary, .panel-group .panel-primary {
	background-color: #000099;
	border-color: #000077;
}

.panel .panel-heading, .panel-group .panel .panel-heading {
	background-color: #0000ff;
	font-size: 125%;
	border-radius: 0px;
}

.panel .panel-body, .panel-group .panel .panel-body {
	border-radius: 0px;
}

.panel .panel-footer, .panel-group .panel .panel-footer {
	background-color: #000055;
	border-radius: 0px;
	font-size: 75%;
	color: #dddddd;
	padding: 4px;
}